.message {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    height: fit-content;
    width: calc(100% - 20px);
    border: 2px solid var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 20;
    position: fixed;
    inset: auto auto 20px 20px;
    max-width: 320px;
}


.message {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    gap: 20px;
}

.message .status {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.message p {
    margin: 0;
}



.svg-icon {
    width: 1em;
    height: 1em;
    margin: 0 10px 0 0;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--text-color);
}

.svg-icon circle {
    stroke: var(--text-color);
    stroke-width: 1;
}


.success {
    padding: 20px;
    background: linear-gradient(to right, var(--bg-color), var(--success-message-bg));
}


.warning {
    background: linear-gradient(to right, var(--bg-color), var(--warning-message-bg));

}

.error {
    background: linear-gradient(to right, var(--bg-color), var(--error-message-bg));

}